.card {
  position: relative;
}
.card .front {
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
  position: absolute;
}
.front {
  width: 137px;
  height: 145.75px;
}
.flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}
.card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.back {
  width: 137px;
  height: 145.75px;
  background-color: #1890ff;
}
.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
